# ── For an assingment ─────────────────────────────────────────────────────────────────
"What I did this week.docx"


# ── OS junk ─────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db
Desktop.ini

# ── Editor / IDE ─────────────────────────────────────────────────────────────
.vscode/
*.code-workspace

# ── Misc ─────────────────────────────────────────────────────────────────────
*.tmp
*.log
